.directory
  %h1 View Renters
  %table
    %thead
      %tr
        %th Display Name
        %th Email
        %th Phone
        %th Company Name
    %tbody
    - @renters.each do |renter|
      %tr
        %th= link_to renter.display_name, renter_url(renter)
        %th= renter.email
        %th= renter.phone
        %th= renter.company_name
