.directory
  %h1 View Managers
  %table
    %thead
      %tr
        %th Display Name
        %th Email
        %th Modify
    %tbody
    - @managers.each do |m|
      %tr
        %th= link_to m.display_name, manager_url(m)
        %th= m.email
        %th
          = image_tag("iconmonstr-pencil-10-icon.svg", :alt => "Edit")
          = link_to image_tag("iconmonstr-x-mark-icon.svg", :alt => "Delete"), manager_url(m.id), method: :delete, remote: false if current_user != m
