.directory
  %h1 View Managers
  %table
    %thead
      %tr
        %th Display Name
        %th Email
    %tbody
    - @managers.each do |m|
      %tr
        %th= link_to m.display_name, manager_url(m)
        %th= m.email
