.profile
  %h1 #{@manager.display_name}'s Profile
  %table
    %tbody
      %tr
        %th First Name
        %th #{@manager.first_name}
      %tr
        %th Last Name
        %th #{@manager.last_name}
      %tr
        %th Email
        %th #{@manager.email}
