.column-form {
  margin-left: 25px;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

input:not([type="checkbox"]), select, textarea {
  @extend .block;
  //-webkit-appearance: none;
  //-moz-appearance: none;
  //background: #fff;

  border: 1px solid $border-gray;
  padding: 8px 2%;
  margin-bottom: 10px;
}

input[type="submit"] {
  @extend .block;
  padding: 8px 2%;

  max-width: 250px;
  margin-bottom: 15px;
  margin-top: 10px;

  border-radius: $default-radius;
  background-color: $accent-color;

  color: white;
  font: {
    family: $font-default, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    size: 1.2em;
  }
}

.map-location {
  width: 100%;

  input {
    width: 100%;
    border-left: none;
    border-right: none;
  }
}


.horz-links {
  height: 45px;
  padding-left: 25px;
  display: block;
  width: 100%;
  margin-bottom: 30px;
  background-color: lighten($accent-color,0);

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    float: left;
    padding-bottom: 3px;
    padding-top: 10px;
    padding-left: 10px;
    height: 45px;

    img {
      width: 20px;
      height: 20px;
      margin-top: -2px;
      vertical-align: middle;
    }

    a {
      padding-left: 20px;
      padding-right: 15px;
      padding-bottom: 13px;
      padding-top: 10px;
      color: #fff;

      &:hover {

      }
    }

    a[href="#calendar"]:before {
      content: "";
      display: block;
      background: image-url("calendar.svg") no-repeat;
      background-size: 20px 20px;
      width: 20px;
      height: 20px;
      float: left;
      margin-right: -15px;
    }

    a[href="#pricing"]:before {
      content: "";
      display: block;
      background: image-url("price.svg") no-repeat;
      background-size: 20px 20px;
      width: 20px;
      height: 20px;
      float: left;
      margin-right: -15px;
    }

    a[href="#photos"]:before {
      content: "";
      display: block;
      background: image-url("pictures.svg") no-repeat;
      background-size: 20px 20px;
      width: 20px;
      height: 20px;
      float: left;
      margin-right: -15px;
    }

    a[href="#amenities"]:before {
      content: "";
      display: block;
      background: image-url("television.svg") no-repeat;
      background-size: 20px 20px;
      width: 20px;
      height: 20px;
      float: left;
      margin-right: -15px;
    }

    a[href="#description"]:before {
      content: "";
      display: block;
      background: image-url("home.svg") no-repeat;
      background-size: 20px 20px;
      width: 20px;
      height: 20px;
      float: left;
      margin-right: -15px;
    }
  }

  .active {
    //border-bottom: 2px solid white;
    background-color: lighten($accent-color, 10);
  }

  input[type="submit"] {
    margin-left: 0px;
    vertical-align: middle;
    padding: 7px 10px;
    margin-top: -5px;
    width: 85px;
    font-size: 1em;
  }
}

.description-fields {
  input, textarea, select {
    width: 85%;
  }

  textarea {
    min-height: 250px;
    max-height: 300px;
  }
}

.events-wrapper {
  margin-left: 20px;
  h2 {
    padding-top: 0;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}